*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    max-width: 100px;
    height: auto;
}
.alishwdev{
    background:linear-gradient(to right, #FEAE14,#F11772) ;
    color: black;
}

