*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    max-width: 100px;
    height: auto;
}
.alishwdev{
    /* background-image: linear-gradient(to right#FDAF0E); */
    background-color: aqua !important;
}